@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
    --violet: hsl(263, 55%, 52%);
    --dark-gray: hsl(217, 19%, 35%);
    --dark-black: hsl(219, 29%, 14%);
    --white: #fff;
    --light-gray: hsl(0, 0%, 81%);
    --light-blue: hsl(210, 46%, 95%);
    --Purple-50 : hsl(260, 100%, 95%);
    --Purple-300 : hsl(264, 82%, 80%);
    --Purple-500 : hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--Grey-100);
    /* min-height: 100vh;
    min-width:100vh; */
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content > .container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
@media (min-width: 1224px) {
    .content > .container {
        grid-template-columns: 3fr 1fr;
    }
}
.col{
    display: grid;
    gap: 40px;
}
.row{
    display: grid;
    gap: 40px;
}
@media (min-width: 860px){
    .row:first-child{
        grid-template-columns: 2fr 1fr;
    }
    .row:last-child{
        
        grid-template-columns: 1fr 2fr;
    }
}
/* Start Background Editing */

.row > .container, .col > .container{
    margin: 20px 40px 0 40px ;
    padding: 30px 40px 40px 30px;
    border-radius: 10px;
    box-shadow: 40px 60px 50px -7px rgba(0, 0, 0, 0.09);
    
}
@media (min-width: 700px) {
    .row > .container, .col > .container{
        margin: 0;
    }
}
.row:first-child .container:first-child{
    background-color: var(--violet);
    color: var(--Purple-50);
}

.row:first-child .container:last-child{
    background-color: var(--dark-gray);
    color: var(--light-blue);

}

.row:last-child .container:first-child{
    background-color: var(--white);
    color: var(--Grey-400);

}
.row:last-child .container:last-child{
    background-color: var(--dark-black);
    color: var(--light-blue);
}
.col:last-child .container{
    background-color: var(--white);
    color: var(--Grey-400);

}

/* End Background Editing */
/* Start Profile Editing */

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.col .row:first-child .container:first-child .profile{
    position: relative;
}

.col .row:first-child .container:first-child .profile::after{
    content: "";
    position: absolute;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 104px; 
    height: 102px;
    top: -70%;
    right: 5%;
    z-index: 1;
}
    /* Start Img Editing */

img{
    width: 35px;
    border-radius: 50%;
}

.profile:first-of-type img{
    border: 3px solid var(--Purple-300);
}
.col .row:first-child .container:last-child img{
    border: 3px solid var(--Grey-400);
}
.col .row:last-child .container:first-child img{
    border: 3px solid var(--Grey-100);
}
.col .row:last-child .container:last-child img{
    border: 3px solid var(--Purple-500);
}
.col:last-child .container .profile img{
    border: 3px solid var(--Grey-100);
}

    /* End Img Editing */
    /* Start Text of Profile Editing */

.text b{
    font-size: 1rem;
}

.col .row:first-child .container:last-child .profile b{
    color: var(--Grey-100);
}

b + p{
    font-weight: 200;
    font-size: 13px;
}

    /* End Text of Profile Editing */
/* End Profile Editing */

/* Start Edit heading  */
.heading{
    
    margin: 15px 0 18px 0;
    font-size: 24px;
}

.col .row:first-child .container:first-child .heading{
    color: var(--Purple-50);
    position: relative;
    z-index: 2;
}

.col .row:first-child .container:last-child .heading{
    color: var(--Grey-100);
}

.col .row:last-child .container:first-child .heading{
    color: var(--Grey-500);
}

.col .row:last-child .container:last-child .heading{
    color: var(--Grey-100);
}
.col:last-child .container .heading{
    color: var(--Grey-500);
}

.paragraph{
    line-height: 1.7;
    font-weight: 100;
    font-size: 13px;
}